APP_NAME=AIMatch API Gateway
APP_ENV=development

JWT_SECRET_KEY=dev-secret-key
JWT_ALGORITHM=HS256

IDENTITY_SERVICE_URL=http://identity-service:8001
RECRUITMENT_SERVICE_URL=http://recruitment-service:8002
AI_SERVICE_URL=http://localhost:8003
